<footer>
    <hr />
    {{- partial "inject/footer.html" . -}}
    {{- partial "footer_columns.html" . -}}
    <p><small>
        {{ if .Site.Params.showRss | default true }}
            {{- partial "iconlink" (dict "Identifier" "rss" "Name" "RSS" "URL" "/index.xml") -}}
        {{ end }}
        {{ now.Format "2006" }} &copy; {{ .Site.Copyright | markdownify }}
    </small></p>
</footer>
